Service References/WCFServicio/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicio.Entidad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicio.Entidad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mSucursal" nillable="true" type="tns:mSucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmSucursal" nillable="true" type="tns:ArrayOfmSucursal" />
  <xs:complexType name="mSucursal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreBanco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idBanco" type="xs:int" />
      <xs:element minOccurs="0" name="idSucursal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mSucursal" nillable="true" type="tns:mSucursal" />
</xs:schema>